{% extends 'base.html.twig' %}

{% block title %}Mon boutique{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1 class="h4">Les produits</h1>
    </div>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4 col-sm-6 col-xs-12 mt-4 product">
                <div class="border border-dark rounded shadow p-2 clearfix w-100 overflow-hidden">
                    <img  class="img-fluid img-thumbnail rounded" src="{{ product.image }}" alt="Image de {{ product.name }}">
                    <hr>
                    <p><strong>{{ product.name }}</strong></p>
                    <div class="d-flex justify-content-between align-items">
                        <a href="{{ path('cart_add', {id: product.id}) }}" class="btn-sm btn-success float-right"> 
                        <i class="fa fa-shopping-cart mr-1"></i>
                        Ajouter
                        </a>
                        <span>{{ product.price }} €</span>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    <div class="mt-2">{{ knp_pagination_render(products) }}</div>
{% endblock %}
