{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block header %}  {% include "layout/_admin_header.html.twig" %} {% endblock %}

{% block body %}
    
    <div class="d-flex justify-content-between p-3">
        <h1 class="h3 text-muted">Liste des produits :  {{ products.getTotalItemCount }} </h1>
        <a href="{{ path('product_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
    </div>
    <table class="table text-center border-top table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} $</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-info"><i class="fa fa-image"></i></a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-secondary"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune produit dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="position: absolute; bottom: 10px">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
