{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="h3 text-muted">Liste des produits</h1>

    <table class="table text-center border-top table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}"><i class="fa fa-image"></i> Afficher</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}"><i class="fa fa-pencil"></i> Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune produit dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
{% endblock %}
